:root {
  font-family: Poppins, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

--color-primary: #EDE8D0;
--color-secondary: #33312b;
--color-tertiary: #ff8559;

  color-scheme: light dark;
  color: var(--color-primary);
  background-color: var(--color-secondary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


h1, h2, h3, h4, h5, h6 {
  font-family: "source-serif-pro", serif;
font-weight: 600;
font-style: normal;
font-size: 5.5rem;

}

p {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
}



