:root {
  font-family: Poppins, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

--color-primary: #EDE8D0;
--color-secondary: #33312b;
--color-tertiary: #ff8559;

/* other */

--color-react-blue: #61dafb;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-theme="dark"] {
  --color-primary: #33312b;
  --color-secondary: #EDE8D0;
  --color-tertiary: #ff8559;
} 

[data-theme="light"] {
  --color-primary: #EDE8D0;
  --color-secondary: #33312b;
  --color-tertiary: #ff8559;
}

[data-theme="amoled"]{
  --color-primary: #000000;
  --color-secondary: #7c796c;
  --color-tertiary: #ff8559;
}


h1, h2, h3, h4, h5, h6 {
  font-family: "source-serif-pro", serif;
font-weight: 600;
font-style: normal;
font-size: 5.5rem;

}

p {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
}

body {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  transition: ease-in-out 0.5s;
}



