.projectTree{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    /* margin: 3rem; */
}

.yearContainer{
    display: flex;
    gap: 1rem;
    flex-direction: row;
    align-items: center;
    margin: 1rem;
}

.year{
    font-family: 'inter', sans-serif;
    font-weight: 900;
    font-size: 9rem;
}


/* thread/tree line
.lineContainer{
    position: absolute;
    left: 4rem;
    top: 50%;
    width: 2px;
}
.line{ */
/* END OF THREAD */


.projectContainer {
    overflow: hidden;
    transition: transform 0.5s ease, opacity 0.5s ease, max-height 0.5s ease;
    max-height: 0;
    transform: translateY(-10px); /* Start slightly above */
    opacity: 0;                  /* Start invisible */
    margin-left: 4rem;
  }
  
  /* Collapsed state */
  .projectContainer.collapsed {
    max-height: 0;
    transform: translateY(-10px);
    opacity: 0;
  }
  
  /* Expanded state */
  .projectContainer.expanded {
    max-height: 9999px;         /* Large enough for content */
    transform: translateY(0);   /* Slide down to original position */
    opacity: 1;                 /* Fade in */
  }

.project{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.ul{
    text-decoration: underline wavy var(--color-tertiary);
    text-decoration-thickness: 2px;
    color: var(--color-secondary);
}

.projectTitle {
    font-size: 6rem;
    margin-bottom: 0.5rem;
    color: var(--color-secondary);
    line-height: 0.9; /* Reduces space between lines when text wraps */
    padding-bottom: 1rem;
}


.expandBtn{
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    outline: none;
    color: inherit;
    font: inherit;
}

.gitIco{
    font-size: 2rem;
    color: var(--color-secondary);
    transition: color 0.5s ease-in-out;
}

.gitIco:hover{
    color: var(--color-tertiary);
    cursor: pointer;
}

.linkIco{
    font-size: 2rem;
    color: var(--color-secondary);
    transition: color 0.5s ease-in-out;
    margin-left:1rem ;
}

.linkIco:hover{
    color: var(--color-tertiary);
    cursor: pointer;
}


.chevron{
    font-size: 3rem;
    color: var(--color-tertiary);
}

.desc{
    margin-top: -2rem;
}