.nav {
    font-size: 1.6rem;
    font-weight: 600;
    /* padding: 0 2rem; */
    width: 100%;
    box-sizing: border-box;
    position: relative;
}
  
.nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    flex-wrap: wrap;
}
  
.nav-list {
    display: flex;
    gap: 2rem;
    align-items: center;
    flex-wrap: wrap;
}
  
.logo {
    margin-right: auto;
    font-family: "source-serif-pro", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 2.2rem;
}
  
.nav-item {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 300;
}
  
.nav ul li a {
    text-decoration: none;
    color: var(--color-secondary);
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .nav {
        padding: 1rem 2rem;
    }
    
    .nav ul {
        justify-content: space-between;
    }
    
    .logo {
        font-size: 1.8rem;
        margin-right: 0;
    }
    
.nav-list {

  position: fixed;
  inset: 0; /* shorthand for top/left/right/bottom: 0 */
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  opacity: 0;
  transform: translateY(20px);
  visibility: hidden;
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s ease;
  z-index: 5;
}

.nav-list.nav-active {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}
.nav-list > li {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: clamp(2rem, 5vw, 2rem);
}
.nav-item {
    font-size: 1.4rem;
}
}



  
