.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 1rem;
    box-sizing: border-box;
  }
  
  .header h1 {
    margin: 5rem 0;
    text-align: center;
    width: 100%;
  }
  
  /* Responsive styles */
  @media screen and (max-width: 768px) {
    .header h1 {
      margin: 3rem 0;
      font-size: 4rem;
    }
  }
  
  @media screen and (max-width: 480px) {
    .header h1 {
      margin: 2rem 0;
      font-size: 3rem;
    }
  }