.about-content-text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}

.about-content-text h1 {
  font-size: 3.5rem;
  text-align: center;
  margin-bottom: 2rem;
}

.about-content-text p {
    width: 70%;
    text-align: center;
    margin-bottom: 1.5rem;
}

.sect-2, .sect-3 {
    text-align: left;
}

.goLang{
    font-size: 2.4rem;
    vertical-align: bottom;
    transition: ease-in-out 0.5s;
    text-decoration: none;
}

.goLang:hover {
    color: #00ADD8;
}

.python:hover{
    color: #306998;
}

.about-content-text p a {
    text-decoration: underline wavy var(--color-tertiary);
    text-decoration-thickness: 2px;
    color: var(--color-secondary);
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .about-content-text h1 {
    font-size: 2.8rem;
  }
  
  .about-content-text p {
    width: 90%;
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 480px) {
  .about-content-text h1 {
    font-size: 2.2rem;
  }
  
  .about-content-text p {
    width: 100%;
    font-size: 1.2rem;
  }
}